@import './base/settings';
@import './base/base';
@import './components/box-layout';
@import './components/button';
@import './components/header';
@import './components/content-container';
@import './components/page-header';


// TODO: export this later to its own file
.red-alert {
  color: red;
  font-size: $m-size;
  font-weight: bold;
}